<!-- Container for the grid -->
<div class="h-[1000px] md:h-[700px] lg:h-[960px] grid grid-cols-1 grid-rows-5 md:grid-cols-2 md:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 gap-4 lg:p-4 lg:mb-[40px]">
    <!-- Large item spanning two columns -->
    <div class=" md:col-span-2 md:row-span-1  lg:row-span-2 lg:col-span-1 bg-white  border border-gray-200 rounded shadow">
        {{>itemfeaturedposts title="Gobomus first test post" date=" September 29, 20231 Min Read" head="Health" img="https://gobomus.com/wp-content/uploads/2023/10/logo_v001-1000x340.jpg"}}
    </div>

    <!-- Small item -->
    <div class="bg-white  border border-gray-200 rounded shadow">
        {{>itemfeaturedposts title="Utilities for controlling how an element is positioned in the DOM." date=" June 6,
        2023 • 5 Min Read" head="Uncategorized" img="https://gobomus.com/wp-content/uploads/2023/06/brooke-cagle-B_LjR_poGgo-unsplash-1000x600.jpg"}}
    </div>

    <!-- Small item -->
    <div class="md:col-span-1 lg:col-span-2 bg-white  border border-gray-200 rounded shadow">
        {{>itemfeaturedposts title="Health Tips And Benefits Of Healthy Lifestyle You Should Consider" date=" June 6,
        2023
        5 Min Read" head="Health" img="https://gobomus.com/wp-content/uploads/2023/06/michael-hirsch-tXkzUEuheU-unsplash-1000x600.jpg" }}

    </div>

    <!-- Large item spanning two rows -->
    <div class="md:col-span-1 lg:col-span-2 bg-white  border border-gray-200 rounded shadow">
        {{>itemfeaturedposts title="Style Is A Way To Say Who You Are, Without Having To Speak" date=" June 6,
        2023
        5 Min Read" head="Lifestyle" img="https://chancosvn.com/upload_images/images/2023/02/25/cac-style-thoi-trang-nu-co-dien(1).jpg"}}

    </div>

    <!-- Small item -->
    <div class="bg-white  border border-gray-200 rounded shadow">
        {{>itemfeaturedposts title="Style Is A Way To Say Who You Are, Without Having To Speak" date=" June 6,
        2023
        5 Min Read" head="Technology" img="https://gobomus.com/wp-content/uploads/2023/06/constantin-panagopoulos-Z1TaQKGo6Gw-unsplash-1000x600.jpg"}}

    </div>
</div>