<footer id='site-footer'>
  <div data-elementor-type='wp-post' data-elementor-id='426' class='elementor elementor-426'>
    <div
      class='elementor-element elementor-element-905ec8b e-flex e-con-boxed e-con e-parent'
      data-id='905ec8b'
      data-element_type='container'
      data-settings='{&quot;content_width&quot;:&quot;boxed&quot;}'
      data-core-v316-plus='true'
    >
      <div class='e-con-inner'>
        <div
          class='elementor-element elementor-element-24d207f e-flex e-con-boxed e-con e-child'
          data-id='24d207f'
          data-element_type='container'
          data-settings='{&quot;content_width&quot;:&quot;boxed&quot;}'
        >
          <div class='e-con-inner'>
            <div
              class='elementor-element elementor-element-29a4265 elementor-widget__width-initial elementor-widget rivax-instagram-widget'
              data-id='29a4265'
              data-element_type='widget'
              data-widget_type='rivax-instagram.default'
            >
              <div class='elementor-widget-container'>
                <div class='rivax-insta-wrapper layout-2'>
                  <div class='rivax-insta-header'>
                    <div class='rivax-insta-info'>
                      <span class='username'><a
                          target='_blank'
                          href='https://www.instagram.com/rivaxstudio'
                        >@RivaxStudio</a></span>
                      <span class='tagline'>We become what we think about!</span>
                    </div>
                  </div>
                  <div class='rivax-insta-images layout-5 hover-shape'>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/jonny-caspari-wsvCC6UyKjs-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/sarah-dorweiler-KcufLkTXYy4-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/mathieu-perrier-44OaWM_ObWk-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/sarah-dorweiler-kjERLXaHjXc-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/anh-nguyen-iOa9J-6UOzQ-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/alex-lvrs-mwINQsW2KJs-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                    <div class='insta-item'>
                      <a target='_blank' href='https://www.instagram.com/rivaxstudio'>
                        <img
                          src='https://gobomus.com/wp-content/uploads/2023/09/adam-birkett-lkNa1eg2d18-unsplash-min-550x400.jpg'
                          width='550'
                          height='400'
                          alt='instagram image'
                        />
                        <i class='ri-instagram-line'></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class='elementor-element elementor-element-345ed28 elementor-widget elementor-widget-heading'
              data-id='345ed28'
              data-element_type='widget'
              data-widget_type='heading.default'
            >
              <div class='elementor-widget-container'>
                <span class='elementor-heading-title elementor-size-default'>Subscribe to our newsletter and we’ll send
                  you the emails of latest news</span>
              </div>
            </div>
            <div
              class='elementor-element elementor-element-ba8ba35 button-position-float elementor-widget__width-initial elementor-widget-mobile__width-initial elementor-widget rivax-mailchimp-widget'
              data-id='ba8ba35'
              data-element_type='widget'
              data-widget_type='rivax-mailchimp.default'
            >
              <div class='elementor-widget-container'>
                <div class='rivax-mailchimp-wrapper'>
                  <div class='rivax-mailchimp-response-message'></div>
                  <form class='rivax-mailchimp-form' data-list-id=''>
                    <div class='rivax-mailchimp-input-wrapper'>
                      <div class='rivax-mailchimp-input'>
                        <input
                          type='email'
                          name='email'
                          placeholder='Enter Your Email '
                          required=''
                          fdprocessedid='yxouto'
                        />
                      </div>
                    </div>
                    <div class='rivax-mailchimp-button-wrapper'>

                      <button
                        type='submit'
                        class='rivax-mailchimp-button'
                        name='rivax-mailchimp'
                        aria-label='Mailchimp'
                        fdprocessedid='0m8f8'
                      >
                        <span class='button-icon'>
                          <i class='far fa-paper-plane'></i>
                        </span>
                        <span class='button-text'>Subscribe</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div
              class='elementor-element elementor-element-692a808 social-layout-inline social-icon-left social-subtitle-right social-move-up-item elementor-widget rivax-social-icons-widget'
              data-id='692a808'
              data-element_type='widget'
              data-widget_type='rivax-social-icons.default'
            >
              <div class='elementor-widget-container'>
                <div class='rivax-social-icons'>
                  <div class='social-item twitter'>
                    <div class='social-icon'>
                      <span class='icon'><i class='ri-twitter-fill'></i></span>
                    </div>
                    <a class='rivax-position-cover' href='#' title='Twitter'></a>
                  </div>
                  <div class='social-item github'>
                    <div class='social-icon'>
                      <span class='icon'><i class='ri-github-fill'></i></span>
                    </div>
                    <a class='rivax-position-cover' href='#' title='Github'></a>
                  </div>
                  <div class='social-item instagram'>
                    <div class='social-icon'>
                      <span class='icon'><i class='ri-instagram-line'></i></span>
                    </div>
                    <a class='rivax-position-cover' href='#' title='Instagram'></a>
                  </div>
                  <div class='social-item behance'>
                    <div class='social-icon'>
                      <span class='icon'><i class='ri-behance-fill'></i></span>
                    </div>
                    <a class='rivax-position-cover' href='#' title='Behance'></a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class='elementor-element elementor-element-4d064a3 elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list'
              data-id='4d064a3'
              data-element_type='widget'
              data-widget_type='icon-list.default'
            >
              <div class='elementor-widget-container'>
                <ul class='elementor-icon-list-items elementor-inline-items'>
                  <li class='elementor-icon-list-item elementor-inline-item'>
                    <a href='#'>

                      <span class='elementor-icon-list-text'>About me</span>
                    </a>
                  </li>
                  <li class='elementor-icon-list-item elementor-inline-item'>
                    <a href='#'>

                      <span class='elementor-icon-list-text'>Contact</span>
                    </a>
                  </li>
                  <li class='elementor-icon-list-item elementor-inline-item'>
                    <a href='#'>

                      <span class='elementor-icon-list-text'>Privacy Policy</span>
                    </a>
                  </li>
                  <li class='elementor-icon-list-item elementor-inline-item'>
                    <a href='#'>

                      <span class='elementor-icon-list-text'>Advertisement</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class='elementor-element elementor-element-7b0460c elementor-widget elementor-widget-heading'
              data-id='7b0460c'
              data-element_type='widget'
              data-widget_type='heading.default'
            >
              <div class='elementor-widget-container'>
                <span class='elementor-heading-title elementor-size-default'>Copyright © 2023 RivaxStudio. All Rights
                  Reserved</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>