<footer class="bg-gray-100 text-center lg:text-left">
    <div class="text-gray-700 text-center p-4">
        <!-- Links Section -->
        <div class="flex flex-wrap items-center m-4">
            <a href="#" class="m-2 text-sm text-gray-600 hover:text-gray-900">About me</a>
            <span class="m-2 text-gray-400">•</span>
            <a href="#" class="m-2 text-sm text-gray-600 hover:text-gray-900">Contact</a>
            <span class="m-2 text-gray-400">•</span>
            <a href="#" class="m-2 text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
            <span class="m-2 text-gray-400">•</span>
            <a href="#" class="m-2 text-sm text-gray-600 hover:text-gray-900">Advertisement</a>
        </div>

        <!-- Copyright Section -->
        <div class="text-sm text-gray-600">
            Copyright © 2023 <a class="text-[#3b82f6]" href="#"> Meta Technology</a>. All Rights Reserved
        </div>
    </div>
</footer>