<div class="mb-[60px]">
  <div class="bg-blue-500 text-white flex justify-between items-center py-[10px] px-6 lg:py-[20px] lg:px-[30px]">
    <div class="flex items-center gap-x-[20px]">
      <div>
        <!-- Phone Number -->
        <span> <i class="fas fa-phone-volume mr-[4px]"></i> 5246464
        </span>
      </div>
      <div>
        <!-- Phone Number -->
        <span> <i class="far fa-envelope mr-[4px]"></i>Meta@gamil.com
        </span>
      </div>
    </div>
    <div class="hidden  md:flex lg:flex items-center ">
      <!-- Email Address -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M16 2H8a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2zM8 6h8m-8 4h8" />
      </svg>
      <span>Riva@example.com</span>
    </div>
  </div>
  <!-- Navbar Section -->
  <nav class="bg-white px-6 py-2 flex justify-between items-center lg:px-[30px]">
    <!-- Logo and Brand Name -->
    <div class="flex items-center">
      <div class="h-[38px] w-[142px]">
        <img src="https://demo.rivaxstudio.com/raveen/personal/wp-content/uploads/2023/06/logo.svg" alt="gobomus"
          width="240" height="70">
      </div>
    </div>

    <!-- Navigation Links -->
    <div class="hidden md:hidden lg:flex space-x-8">
      <div>
        <div class="flex">
          <div>
            <div>
              <nav class="hover-style-2">
                <ul id="menu-main-menu-1" class="flex gap-x-[20px]">
                  <li class="menu-item">
                    <a class="menu-link" href="#"><span>Home</span></i>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#"><span>Features <i class="fas fa-chevron-down text-[14px]"></i></span>
                    </a>
                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="#"><span>Post Type</span></a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href=""><span>Post
                                Standard</span></a></li>
                          <li class="menu-item"><a href=""><span>Post
                                Quote</span></a></li>
                          <li class="menu-item"><a href=""><span>Post
                                Gallery</span></a></li>
                          <li class="menu-item"><a href=""><span>Post
                                Link</span></a></li>
                          <li class="menu-item"><a href=""><span>Post
                                Video</span></a></li>
                          <li class="menu-item"><a href=""><span>Post
                                Audio</span></a></li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="#"><span>Sidebar</span></a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href=""><span>Right
                                Sidebar</span></a></li>
                          <li class="menu-item"><a href=""><span>Left
                                Sidebar</span></a></li>
                          <li class="menu-item"><a href=""><span>No
                                Sidebar</span></a></li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="#"><span>Post Layout</span></a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href=""><span>Layout
                                1</span></a></li>
                          <li class="menu-item"><a href=""><span>Layout
                                2</span></a></li>
                          <li class="menu-item"><a href=""><span>Layout
                                3</span></a></li>
                          <li class="menu-item"><a href=""><span>Layout
                                4</span></a></li>
                          <li class="menu-item"><a href=""><span>Layout
                                5</span></a></li>
                          <li class="menu-item"><a href=""><span>Layout
                                6</span></a></li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="#"><span>Table of Content</span></a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href=""><span>Sticky</span></a>
                          </li>
                          <li class="menu-item"><a href=""><span>Inline</span></a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href=""><span>Updated
                            Date</span></a></li>
                      <li class="menu-item"><a href=""><span>Comments
                            Template</span></a></li>
                      <li class="menu-item"><a href=""><span>Autoload
                            Next Post</span></a></li>
                      <li class="menu-item"><a href=""><span>Author
                            Page</span></a></li>
                      <li class="menu-item"><a href=""><span>Page
                            404</span></a></li>
                      <li class="menu-item"><a href=""><span>Search Result</span></a>
                      </li>
                      <li class="menu-item"><a href=""><span>AMP</span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href=""><span>Travel</span></a>
                    <div class="sub-menu" style="display: block; width: 900px; left: -172px;">
                      <div>
                        <div>
                          <div>
                            <div>
                              <div>
                                <div>
                                  <div>
                                    <h4 class="title">
                                      <span class="title-inner">
                                        <span class="title-text">
                                          Travel </span>
                                      </span>
                                    </h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div>
                                <div>
                                  <h5>Nothing found!</h5>
                                  <p>It looks like nothing was found here!</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#"><span>Pages
                        <i class="fas fa-chevron-down text-[14px]"></i>
                      </span></a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href=""><span>Shop</span></a></li>
                      <li class="menu-item"><a href=""><span>About Us</span></a></li>
                      <li class="menu-item"><a href=""><span>Coming Soon</span></a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-link" href=""></i>
                      <span>Contact</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Subscribe Button -->
    <button class="bg-blue-600 text-white px-4 py-2 rounded-[20px] hover:bg-blue-800">
      <i class="fab fa-telegram-plane mr-[4px]"></i> Subscribe
    </button>
  </nav>
</div>