<!-- Swiper -->
<div class="swiper mySwiper h-[380px] md:h-[450px] lg:h-[691px] rounded-[25px] mb-[110px] ">
    <div class="swiper-wrapper h-[100%]  ">
        <div class="swiper-slide relative">
            <div class="w-[100%] h-[100%] relative slider">
                <div class="w-[100%] h-[100%]">
                    <img class="w-[100%] h-[100%] filter brightness-75 slider-home"
                        src="https://gobomus.com/wp-content/uploads/2023/08/becca-tapert-A_Sx8GrRWg-unsplash-min-1600x700.jpg"
                        alt="slider-1" />
                </div>
                <div class="absolute z-[200] w-[100%]  top-1/2 -translate-y-1/2">
                    <div class="w-[100%]">
                        <div class="w-[100%]">
                            <div>
                                <h1 class="text-[24px] md:text-[30px] lg:text-[36px] text-[#fff] text-center mb-[20px] ">
                                    Where To Score The Best Travel Deals On Cyber Monday
                                </h1>
                                <div class="flex justify-center">
                                    <div class="flex items-center justify-center space-x-4">
                                        <div class="text-white w-12 h-12 rounded-full flex items-center justify-center">
                                            <img src="https://secure.gravatar.com/avatar/215c060a92aa45b20151daae6bc51f81?s=60&d=mm&r=g"
                                                alt="avatar-author" class="w-full h-full rounded-full" />
                                        </div>
                                        <div class="text-white">
                                            <a href="#">By rbslcbmy</a>
                                        </div>
                                        <div class="text-white">
                                            <li class="list-disc">May 17, 2023</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

         <div class="swiper-slide relative ">
            <div class="w-[100%] h-[100%] relative slider">
                <div class="w-[100%] h-[100%]">
                    <img class="w-[100%] h-[100%] filter brightness-75 slider-home"
                        src="https://gobomus.com/wp-content/uploads/2023/05/thamara-maura-1ZRWe5L6Ruc-unsplash-1600x700.jpg"
                        alt="slider-1" />
                </div>
                <div class="absolute z-[200] w-[100%]  top-1/2 -translate-y-1/2">
                    <div class="w-[100%]">
                        <div class="w-[100%]">
                            <div>
                                <h1 class="text-[24px] md:text-[30px] lg:text-[36px]  text-[#fff] text-center mb-[20px] ">
                                    Where To Score The Best Travel Deals On Cyber Monday
                                </h1>
                                <div class="flex justify-center ">
                                    <div class="flex items-center justify-center flex-wrap space-x-4">
                                        <div class="text-white w-12 h-12 rounded-full flex items-center justify-center">
                                            <img src="https://secure.gravatar.com/avatar/215c060a92aa45b20151daae6bc51f81?s=60&d=mm&r=g"
                                                alt="avatar-author" class="w-full h-full rounded-full" />
                                        </div>
                                        <div class="text-white">
                                            <a href="#">By rbslcbmy</a>
                                        </div>
                                        <div class="text-white">
                                            <li class="list-disc text-center">May 17, 2023</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide relative ">
            <div class="w-[100%] h-[100%] relative slider">
                <div class="w-[100%] h-[100%]">
                    <img class="w-[100%] h-[100%] filter brightness-75 slider-home"
                        src="https://gobomus.com/wp-content/uploads/2023/06/stas-ostrikov-XDvMPh-tIk-unsplash-1600x700.jpg"
                        alt="slider-1" />
                </div>
                <div class="absolute z-[200] w-[100%]  top-1/2 -translate-y-1/2">
                    <div class="w-[100%]">
                        <div class="w-[100%]">
                            <div>
                                <h1 class="text-[24px] md:text-[30px] lg:text-[36px]  text-[#fff] text-center mb-[20px] ">
                                    Where To Score The Best Travel Deals On Cyber Monday
                                </h1>
                                <div class="flex justify-center ">
                                    <div class="flex items-center justify-center flex-wrap space-x-4">
                                        <div class="text-white w-12 h-12 rounded-full flex items-center justify-center">
                                            <img src="https://secure.gravatar.com/avatar/215c060a92aa45b20151daae6bc51f81?s=60&d=mm&r=g"
                                                alt="avatar-author" class="w-full h-full rounded-full" />
                                        </div>
                                        <div class="text-white">
                                            <a href="#">By rbslcbmy</a>
                                        </div>
                                        <div class="text-white">
                                            <li class="list-disc text-center">May 17, 2023</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>