<!-- Swiper -->
<div class="swiper mySwiper h-[350px] md:h-[500px] lg:h-[100%]">
    <div class="swiper-wrapper lg:h-[100%]">
        <div class="swiper-slide relative">
            <div class="w-[100%] h-[100%] relative">
                <div class="w-[100%] h-[100%]">
                    <img class="w-[100%] h-[100%] filter brightness-75"
                        src="https://gobomus.com/wp-content/uploads/2023/08/becca-tapert-A_Sx8GrRWg-unsplash-min-1600x700.jpg"
                        alt="slider-1">
                </div>
                <div class="absolute z-[200] w-[100%]  top-[50%] translate-y-[50%]">
                    <div class="w-[100%]">
                        <div class="w-[100%]">
                            <div>
                                <h1 class="text-[36px] text-[#fff] text-center mb-[20px] ">
                                    Where To Score The Best Travel Deals On Cyber Monday
                                </h1>
                                <div class="flex justify-center">
                                    <div class="flex item-center ">
                                        <div class="text-[#fff] w-[50px] h-[50px] rounded-full">
                                            <img src="../layouts/default/assets/images/avatarslider.jpg"
                                                alt=" avatar-author">
                                        </div>
                                        <div class="text-[#fff]">
                                            <a href="#">
                                                By rbslcbmy</a>
                                        </div>
                                        <div class="ml-[12px] text-[#fff]">
                                            <li class="list-disc">May 17, 2023</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="swiper-slide">
            <div class="w-[100%] h-[100%]">
                <div class="w-[100%] h-[100%]">
                    <img class="w-[100%] h-[100%]"
                        src="https://gobomus.com/wp-content/uploads/2023/06/stas-ostrikov-XDvMPh-tIk-unsplash-1600x700.jpg"
                        alt="slider-2">
                </div>
            </div>
        </div> --}}
        {{!-- <div class="swiper-slide">
            <div class="w-[100%] h-[100%]">
                <div class="relative w-[100%] h-[100%]">
                    <img class="w-[100%] h-[100%] con lg:cover"
                        src="https://gobomus.com/wp-content/uploads/2023/05/thamara-maura-1ZRWe5L6Ruc-unsplash-1600x700.jpg"
                        alt="silder-3">
                </div>
            </div>
        </div> --}}
        <!-- ... -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>