<div class="cursor-pointer featuredposts rounded overflow-hidden shadow-lg  h-[100%] w-[100%] relative ">
  <div class="h-[100%]">
    <img
      class="h-[100%] w-[100%] bg-cover bg-center featuredposts-img transition-transform duration-300 filter brightness-75"
      src={{img}} alt="Image description">
  </div>
  <div class="absolute top-0 px-6 pt-4 pb-2">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{head}}</span>
  </div>
  <div class="absolute text-[#fff]  featuredposts-Position">
    <div class="px-6 py-4 ">
      <div class="font-bold text-[18px] lg:text-xl mb-2"> {{title}}</div>
      <p class=" text-[13px] lg:text-base">
        {{date}}
      </p>
    </div>

  </div>
</div>