<div class="flex gap-x-[10px] justify-center items-center h-[100px]">
    <!-- Circles with numbers -->
    <div
        class="pagination number pagination-border border-solid border-[1px] hover:border-[#4e7be7] ease-in-out duration-300 border-[#cbccd6] rounded-full h-[55px] w-[55px] flex items-center justify-center">
        <span class="number text-[#364456] font-semibold">1</span>
    </div>
    <div
        class="pagination pagination-border border-solid border-[1px] hover:border-[#4e7be7] ease-in-out duration-300 border-[#cbccd6] rounded-full h-[55px] w-[55px] flex items-center justify-center">
        <span class="number text-[#364456] font-semibold">2</span>
    </div>
    <div
        class="pagination pagination-border border-solid border-[1px] hover:border-[#4e7be7] ease-in-out duration-300 border-[#cbccd6] rounded-full h-[55px] w-[55px] flex items-center justify-center">
        <span class="number text-[#364456] font-semibold">3</span>
    </div>
</div>