<div class="flex mb-[40px]  ml-[60px]  mb-[40px]{{customClass}}">
    <h2 class="relative text-lg font-semibold lg:text-[20px]">
        <div class="absolute  bottom-[7px] left-[-60px] bg-[#5b6b80]  h-[2px] w-[50px]"></div>
        {{title}}
    </h2>
</div>