<div class="sidebar">
    <span class="offcanvas-opener">
        <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </span>
    <div style="display: none"
        class="sideber-item fixed top-0 bottom-0 right-0 left-0 z-[10000000] ease-in-out duration-500 ">
        <div class="w-[500px] h-[100%] bg-[#fff]">
            <div class="container">
                <nav>
                    <input id="toggle" type="checkbox" checked>
                    <h2 class="text-[14px] toggleMenu-list">Drop Down Menu</h2>
                    <ul>
                        <li><a href="#chapter1">Chapter 01</a></li>
                        <li><a href="#chapter2">Chapter 02</a></li>
                        <li><a href="#chapter3">Chapter 03</a></li>
                        <li><a href="#chapter4">Chapter 04</a></li>
                    </ul>
                </nav>
            </div>
            <div class="container">
                <nav>
                    <input id="toggle" type="checkbox" checked>
                    <h2 class="text-[14px] toggleMenu-list">Drop Down Menu</h2>
                    <ul>
                        <li><a href=" #chapter1">Chapter 01</a></li>
                        <li><a href="#chapter2">Chapter 02</a></li>
                        <li><a href="#chapter3">Chapter 03</a></li>
                        <li><a href="#chapter4">Chapter 04</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>