<div class="bg-[#fff] px-6 lg:px-[30px]">
    {{message}}
    {{> homeSlider}}
    {{> title-block title="Featured Posts" customClass="FeaturedPosts"}}
    {{> featuredposts}}
    {{> title-block title="Latest Posts" customClass="LatestPosts"}}
    {{> latestposts }}
    {{> pagination}}
</div>