<html>

<head>
  <meta charset='utf-8' />
  <title>{{title}}</title>

  <link rel='stylesheet' href='layouts/default/assets/index.css' />
</head>

<body>
  {{!-- Include Header --}}
  {{#if header}}
  {{>header}}
  {{/if}}
  {{{body}}}
  {{!-- Include Footer --}}
  {{#if footer}}
  {{>footer}}
  {{/if}}
</body>

</html>