<html>

<head>
  <meta charset='utf-8' />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='layouts/default/assets/index.css' />
</head>

<body>
  <div class="px-[0] lg:p-[50px] container--all ">
    <div class="container--all__list bg-[#fff] rounded  lg:rounded-[25px] ">
      {{!-- Include Header --}}
      {{#if header}}
      {{>header}}
      {{/if}}
      {{{body}}}
      {{!-- Include Footer --}}
      {{>toggleMenu}}
      {{#if footer}}
      {{>footer}}
      {{/if}}
    </div>
  </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    loop: true,
    autoplay: {
      delay: 5000, // Delay in milliseconds before switching to the next slide
      disableOnInteraction: false, // Set to false if you want autoplay to continue even after interacting with the slider
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<script>
  // Wait for the DOM to load
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.pagination').forEach(pagination => {
      pagination.addEventListener('click', function () {
        document.querySelectorAll('.pagination .number').forEach(num => {
          num.classList.remove('active');
          num.classList.add('text-[#000]');
        });
        this.querySelector('.number').classList.add('active');
        this.querySelector('.number').classList.remove('text-[#000]');
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var paginationItems = document.querySelectorAll('.pagination-border');
    paginationItems.forEach(function (item) {
      item.addEventListener('click', function () {
        paginationItems.forEach(function (i) {
          i.classList.remove('active');
        });
        this.classList.add('active');
      });
    });
  });

</script>

<script>
  document.querySelectorAll('.accordion').forEach(button => {
    button.addEventListener('click', () => {
      const panel = button.nextElementSibling;
      button.classList.toggle('bg-blue-400'); // Change color on click
      panel.classList.toggle('hidden');
    });
  });
</script>

{{!-- toggleMenu --}}
<script>
  var hamburger = document.querySelector('.offcanvas-opener');
  var sidebarItem = document.querySelector('.sideber-item');
  hamburger.addEventListener('click', function () {
    if (sidebarItem.style.display === "none") {
      sidebarItem.style.display = "block";
    } else {
      sidebarItem.style.display = "none";
    }
  });
</script>

</html>